In [42]:
import numpy as np
import pandas as pd
import io
import requests
from urllib.request import urlopen
from io import StringIO
import matplotlib.pyplot as plt

In [56]:
## Read in raw data
#c = pd.read_csv("https://transparentcalifornia.com/export/school-districts/alameda/dublin-unified-2016.csv")
url = "https://transparentcalifornia.com/export/california-state-university-2016.csv"
url2 = "https://transparentcalifornia.com/export/university-of-california-2016.csv"


s = requests.get(url, verify=False).text
calstate = pd.read_csv(StringIO(s))

s2 = requests.get(url2, verify=False).text
uc = pd.read_csv(StringIO(s2))


calstate.head()

/Users/exc7s65/anaconda/lib/python3.6/site-packages/requests/packages/urllib3/connectionpool.py:852: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/exc7s65/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/exc7s65/anaconda/lib/python3.6/site-packages/requests/packages/urllib3/connectionpool.py:852: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/exc7s65/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Employee Name,Job Title,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay,Total Pay & Benefits,Year,Notes,Agency,Status
0,Timothy P White,CHANCELLOR OF THE CALIFORNIA STATE UNIVERSITY,400546,0,15139.7,127262,415685.47,542947.83,2016,NaN,California State University,NaN
1,Elliot L Hirshman,PRESIDENT,369076,0,13032,119366,382108.22,501474.34,2016,NaN,California State University,NaN
2,Jeffrey D Armstrong,PRESIDENT,369112,0,12407,113912,381518.92,495430.50,2016,NaN,California State University,NaN
3,Leroy M Morishita,PRESIDENT,316321,0,73584,100309,389904.99,490213.96,2016,NaN,California State University,NaN
4,William A Covino,PRESIDENT,315274,0,75048,99034.6,390322.24,489356.81,2016,NaN,California State University,NaN

In [44]:
calstate[calstate['Job Title'] == "CHANCELLOR OF THE CALIFORNIA STATE UNIVERSITY"]['Total Pay & Benefits'][0]

542947.82999999996

In [45]:
print("Average Prof. salary at Cal State")
sum(calstate[calstate['Job Title'].str.contains('PROF')]['Total Pay & Benefits'])/len(calstate[calstate['Job Title'].str.contains('PROF')]['Total Pay & Benefits'])

Average Prof. salary at Cal State

64456.666036729803

In [46]:
print("Average Coach's salary at Cal State")
sum(calstate[calstate['Job Title'].str.contains('COACH')]['Total Pay & Benefits'])/len(calstate[calstate['Job Title'].str.contains('COACH')]['Total Pay & Benefits'])

Average Coach's salary at Cal State

60370.560341981065

In [52]:
print("Average Lecturer's salary at Cal State")
sum(calstate[calstate['Job Title'].str.contains('LECTURER')]['Total Pay & Benefits'])/len(calstate[calstate['Job Title'].str.contains('LECTURER')]['Total Pay & Benefits'])

Average Lecturer's salary at Cal State

26043.718157424217

In [57]:
calstate[calstate['Job Title'].str.contains('LECTURER')]['Employee Name']

526             Ernest J Licalsi
663            Louie B Anderholt
703                Sung Won Sohn
725               Timothy A Kams
938               Raymond A Cota
1004            Donald F Gaffney
1038     Kathleen M Lewis-Bowman
1067             Blaine K Bowman
1079             Gilbert G Ochoa
1245             Poli Flores  Jr
1389                Lois B Olson
1696                 Vijay Karan
1777                 John M Eger
2141            Katie D Mortimer
2212              Scott Hornbeak
2437           Spiros Velianitis
2544               Janie P Yadon
2568             Daniel H Harkey
2607               Mark Laumakis
2692           Rudolph I Estrada
2704           Richard T Sammons
2880          Elizabeth J Bigham
3135            Diane E Mayfield
3449            Dorothy L Zirkle
3581               Lisa L Isbell
3589                 John P Todd
3619        Jacqueline B Sherman
3771           Charlotte M Lopes
3807               James W Scott
3994            Tom Schmidhauser
                  ...
87782                 Zhonghe Wu
87783                    Hong Xu
87792          Tessa Marie Pitre
87798             Michael  S Ray
87800               Linh B Trinh
87801             Bruce D Miller
87802              Marta O Davis
87807                 Weifu Liao
87808                Teresa Diaz
87813              Amy  A Strage
87814                 Danvy Q Le
87815         Daniel J Eberhardt
87823              Larry F Hanne
87824          Michael L Griffin
87825             Kevin D Dalton
87826             Gregory S Cory
87827          Kristin K Minetti
87830              Jeb H Sprague
87836               Garet R Zook
87837             Jodie L Steele
87838              John R Planck
87846            Jennie J Enholm
87851          Jennifer B Yaffee
87852          Tracey E Takeuchi
87853                Md A Rahman
87854                Saba  H Ali
87855             John  A Miller
87859            Steven E Slezak
87861                 Jinmei Lun
87863            Peter T Tiziani
Name: Employee Name, Length: 24037, dtype: object

In [48]:
print("Budget for Pay and Benefits at Cal State")
sum(calstate['Total Pay & Benefits'])

Budget for Pay and Benefits at Cal State

4388893230.360198

In [49]:
print("Average Prof. salary at Univ. of Cal.")
sum(uc[uc['Job Title'].str.contains('PROF')]['Total Pay & Benefits'])/len(uc[uc['Job Title'].str.contains('PROF')]['Total Pay & Benefits'])

Average Prof. salary at Univ. of Cal.

212518.49188294349

In [50]:
print("Average Coach's salary at Univ. of Cal.")
sum(uc[uc['Job Title'].str.contains('COACH')]['Total Pay & Benefits'])/len(uc[uc['Job Title'].str.contains('COACH')]['Total Pay & Benefits'])

Average Coach's salary at Univ. of Cal.

95854.456035767507

In [51]:
print("Budget for Pay and Benefits at UC")
sum(uc['Total Pay & Benefits'])

Budget for Pay and Benefits at UC

17316327480.0